:root {
    --color1: #fff8b9;
    --color2: #d0b8ff;
    --color3: #80ffdf;
    --color4: #4992ff;
    --color5: #fdff80;
}

/* Normalize CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-wrapper {
    width: 800px;
}



#header {
    background-color: var(--color2);
    /* 015. Your product landing page should utilize CSS flexbox at least once */
    display: flex;
    flex-direction: row;
    /* para que no lo tape la nav bar por el index */
    margin-top: 20px;
}

#logo > img {
    height: 80px;
}








/* 013. The navbar should always be at the top of the viewport */
#nav-bar {
    position: fixed;   /* Hace que el elemento sea fijo en la ventana */
    top: 0;            /* Lo coloca en la parte superior de la ventana */
    left: 0;           /* Lo coloca en la parte izquierda de la ventana */
    width: 100%;       /* Hace que el ancho sea del 100%, ocupando toda la ventana */
    background-color: var(--color5);  /* Establece el color de fondo del navbar */
    z-index: 1000;     /* Establece un alto z-index para asegurar que aparezca por encima de otros elementos */
}





#nav-bar ul {
    list-style: none; /* Remove bullets */
    display: flex; /* Use flexbox */
    flex-direction: row; /* align items horizontally */
}

#nav-bar li {
    margin-right: 30px; /* Add some spacing between list items */
}

.nav-link {
    text-decoration: none; /* Remove default underline from links */
    color: #333; /* Set the text color for links */
}





/* 014. Your Product Landing Page should use at least one media query. */
/* Si la pantalla es menos de 800px entonces page-weapper se hace de 400px de ancho */
@media only screen and (max-width: 800px) {
    #page-wrapper {
        width: 400px;
    }
}
